<div class="lit-library-header text-center">
  <h2>LSG Lifecycle Status</h2>
  <div class="w-100 spacer"></div>
</div>
<h3 class="page-header text-left">
    ​<strong>Internal Use Only</strong>- Do NOT distribute or share with customers.  Please direct employees to this site.
</h3>
<p style="font: bold;">
Lifecycle status information can be found within the excel file (LSG Lifecycle List) under <a href="#documents">Documents</a>.  </p><p>
If you have any questions regarding the lifecycle status or dates, please contact your local RMD for further information - <a href="https://thermofisher.sharepoint.com/sites/GSSMarketDevelopment-ServiceHub/Shared%20Documents/Service%20Hub/FAQs/GSS%20Marketing%20Org%20Chart.pdf" target="_blank">View GSS Org Chart </a>​
</p>
<div width="100%" text-align="center">
<table class="MsoNormalTable ms-rteTable-default" style="margin-left: auto; margin-right: auto;" cellspacing="0" cellpadding="0" style="margin: auto auto auto 5.4pt; border: currentcolor; width: 612px; border-collapse: collapse;"><tbody><tr class="ms-rteTableEvenRow-default" style="height: 13.8pt;"><td class="ms-rteTableEvenCol-default" rowspan="1" colspan="4" style="background: #d9d9d9; padding: 0in 5.4pt; border: 1pt solid windowtext; width: 459pt; height: 13.8pt;"><font color="#000000" face="Times New Roman">
  </font><p align="center" class="MsoNormal" style="margin: 0in 0in 0pt; text-align: center; line-height: normal;"><strong class="ms-rteFontSize-3"><span><font color="#000000"><font face="Calibri">DEFINITIONS</font></font></span></strong></p><font color="#000000" face="Times New Roman">
  </font></td></tr><tr class="ms-rteTableOddRow-default" style="height: 13.8pt;"><td width="173" class="ms-rteTableEvenCol-default" style="background: green; border-style: none solid solid; padding: 0in 5.4pt; width: 104pt; height: 13.8pt;"><font color="#000000" face="Times New Roman">
  </font><p class="MsoNormal" style="margin: 0in 0in 0pt; line-height: normal;"><strong class="ms-rteFontSize-3"><span style="color: white;"><font face="Calibri">Current</font></span></strong></p><font class="ms-rteFontSize-3" color="#000000" face="Times New Roman">
  </font></td><td class="ms-rteTableOddCol-default" style="background: #0066cc; border-style: none solid solid none; padding: 0in 5.4pt; width: 165px; height: 13.8pt;"><font class="ms-rteFontSize-3" color="#000000" face="Times New Roman">
  </font><p class="MsoNormal" style="margin: 0in 0in 0pt; line-height: normal;"><strong class="ms-rteFontSize-3"><span style="color: white;"><font face="Calibri">Discontinued</font></span></strong></p><font class="ms-rteFontSize-3" color="#000000" face="Times New Roman">
  </font></td><td class="ms-rteTableEvenCol-default" style="background: #ffcc00; border-style: none solid solid none; padding: 0in 5.4pt; width: 195px; height: 13.8pt;"><font class="ms-rteFontSize-3" color="#000000" face="Times New Roman">
  </font><p class="MsoNormal" style="margin: 0in 0in 0pt; line-height: normal;"><strong class="ms-rteFontSize-3"><span style="color: white;"><font face="Calibri">Limited Support</font></span></strong></p><font class="ms-rteFontSize-3" color="#000000" face="Times New Roman">
  </font></td><td width="150" class="ms-rteTableOddCol-default" style="background: red; border-style: none solid solid none; padding: 0in 5.4pt; width: 1.25in; height: 13.8pt;"><font class="ms-rteFontSize-3" color="#000000" face="Times New Roman">
  </font><p class="MsoNormal" style="margin: 0in 0in 0pt; line-height: normal;"><strong class="ms-rteFontSize-3"><span style="color: white;"><font face="Calibri">Retired</font></span></strong></p><font color="#000000" face="Times New Roman">
  </font></td></tr><tr class="ms-rteTableEvenRow-default" style="height: 138pt;"><td width="173" class="ms-rteTableEvenCol-default" valign="top" style="background: white; border-style: none solid solid; padding: 0in 5.4pt; width: 104pt; height: 433px;"><font color="#000000" face="Times New Roman">
  </font><p class="MsoNormal" style="margin: 0in 0in 0pt; line-height: normal;"><span class="ms-rteFontSize-2 ms-rteThemeFontFace-1" style="color: green;">- Product is currently manufactured
  and fully supported.</span></p><font class="ms-rteFontSize-2" color="#000000" face="Times New Roman">
  </font></td><td class="ms-rteTableOddCol-default" valign="top" style="background: white; border-style: none solid solid none; padding: 0in 5.4pt; width: 165px; height: 433px;"><font class="ms-rteFontSize-2" color="#000000" face="Times New Roman">
  </font><p class="MsoNormal" style="margin: 0in 0in 0pt; line-height: normal;"><span class="ms-rteFontSize-2 ms-rteThemeFontFace-1" style="color: blue;">- Product is no longer manufactured,
  but it is still fully supported.<span>&#160; </span></span></p><font class="ms-rteFontSize-2 ms-rteThemeFontFace-1" color="#000000">
  </font><p class="MsoNormal" style="margin: 0in 0in 0pt; line-height: normal;"><font class="ms-rteFontSize-2 ms-rteThemeFontFace-1"><span style="color: blue;"><strong>- </strong>Discontinuance
  Date </span><span style="color: blue;">is the
  date or anticipated date the instrument is no longer manufactured, and
  subsequently the start date of the discontinuance period.</span></font></p><font class="ms-rteFontSize-2" color="#000000" face="Times New Roman">
  </font></td><td class="ms-rteTableEvenCol-default" valign="top" style="background: white; border-style: none solid solid none; padding: 0in 5.4pt; width: 195px; height: 433px;"><font class="ms-rteFontSize-2" color="#000000" face="Times New Roman">
  </font><p class="MsoNormal" style="margin: 0in 0in 0pt; line-height: normal;"><span class="ms-rteThemeFontFace-1 ms-rteFontSize-2" style="color: #993300;"><span class="ms-rteForeColor-3" style="text-decoration-style: solid; text-decoration-color: #ffa500;">- Product is no longer manufactured, and it is supported on a limited basis.&#160; Services provided on a commercially reasonable effort, typically subject to availability of parts or resources.&#160;&#160;</span></span></p><p class="MsoNormal" style="margin: 0in 0in 0pt; line-height: normal;"><span class="ms-rteThemeFontFace-1 ms-rteFontSize-2" style="color: #993300;"><span class="ms-rteForeColor-3" style="text-decoration-style: solid; text-decoration-color: #ffa500;"><font color="#993300"></font><span class="ms-rteForeColor-3" style="text-decoration-style: solid; text-decoration-color: #ffa500;">- Limited Support Date is the date full coverage contracts will no longer be offered, and existing contracts will be converted to limited support as needed.</span></span></span></p><p class="MsoNormal" style="margin: 0in 0in 0pt; line-height: normal;"><span class="ms-rteThemeFontFace-1 ms-rteFontSize-2" style="color: #993300;"><span class="ms-rteForeColor-3" style="text-decoration-style: solid; text-decoration-color: #ffa500;"><span class="ms-rteForeColor-3" style="text-decoration-style: solid; text-decoration-color: #ffa500;"><span class="ms-rteForeColor-3" style="text-decoration-style: solid; text-decoration-color: #ffa500;">- Types: T&amp;M (time &amp; materials), Extended Care/Sunset Contract, or T&amp;M and Extended Care/Sunset Contract</span></span></span></span></p><font class="ms-rteThemeFontFace-1 ms-rteFontSize-2" color="#000000">
  </font><font class="ms-rteThemeFontFace-1 ms-rteFontSize-2" color="#000000">
 </font><font class="ms-rteFontSize-2" color="#000000" face="Times New Roman">
  </font></td><td width="150" class="ms-rteTableOddCol-default" valign="top" style="background: white; border-style: none solid solid none; padding: 0in 5.4pt; width: 1.25in; height: 433px;"><font class="ms-rteFontSize-2" color="#000000" face="Times New Roman">
  </font><p class="MsoNormal" style="margin: 0in 0in 0pt; line-height: normal;"><span class="ms-rteFontSize-2 ms-rteThemeFontFace-1" style="color: red;">- Product is no longer available for
  service and support.<span>&#160; </span></span></p><font class="ms-rteFontSize-2 ms-rteThemeFontFace-1" color="#000000">
  </font><p class="MsoNormal" style="margin: 0in 0in 0pt; line-height: normal;"><font class="ms-rteThemeFontFace-1"><span class="ms-rteFontSize-2 ms-rteThemeFontFace-1"><span style="color: red;">- Retirement
  Date</span></span><span style="color: red; font-size: 12pt;"><span class="ms-rteFontSize-2 ms-rteThemeFontFace-1"><strong> </strong>is the
  date that all service and support stops</span>.</span></font></p><font color="#000000" face="Times New Roman">
  </font></td></tr></tbody></table>
  </div>
  <a id="documents">
  <div class="lit-library-header text-center">
  <h2>Documents</h2>
  <div class="w-100 spacer"></div>
</div>


<a href="https://thermofisher.sharepoint.com/sites/GSSMarketDevelopment-ServiceHub/_layouts/15/Doc.aspx?OR=teams&action=edit&sourcedoc={39D5C64B-D4D6-4D0A-8B77-1181BED708AF}" target="_blank">LSG Lifecycle Status</a><br /><br /><a href="https://thermofisher.sharepoint.com/sites/GSSMarketDevelopment-ServiceHub/Shared%20Documents/Service%20Hub/LSG%20Instrument%20Lifecycle/Customer%20Letters" target="_blank">Customer Letters</a><br /><br /><a href="https://thermofisher.sharepoint.com/sites/GSSMarketDevelopment-ServiceHub/Shared%20Documents/Service%20Hub/LSG%20Instrument%20Lifecycle/Full%20Service%20and%20Support%20Process%20Map.jpg" target="_blank">Full Service & Support Process Map</a><br /><br />
	  <a href="https://thermofisher.sharepoint.com/sites/GSSMarketDevelopment-ServiceHub/Shared%20Documents/Service%20Hub/LSG%20Instrument%20Lifecycle/Limited%20Service%20and%20Support%20Process%20Map.jpg" target="_blank">Limited Service & Support Process Map</a><br /><br />
	  <a href="https://thermofisher.sharepoint.com/sites/GSSMarketDevelopment-ServiceHub/Shared%20Documents/Service%20Hub/LSG%20Instrument%20Lifecycle/Process%20Map%20Legend.jpg" target="_blank">Process Map Legend</a>