<div class="row w-100 service-hub-row service-hub-header-row">
  <div class="sku">
    SKU
  </div>
  <div class="name">
    Description
  </div>
  <div class="type">
    Type
  </div>
  <div class="price">
    Price
  </div>
  <div class="details">
    Details
  </div>
</div>
