<div class="lit-library-header text-center">
  <h2>Frequently Asked Questions</h2>
  <div class="w-100 spacer"></div>
</div>



<div class="d-flex flex-column resource literature literature-library active">
  <div id="system-restart">
      <h4 class="lit-section-header"><a href="">(Extended) Warranties</a></h4>
<div class="service-hub-data-section">
      <div class="row w-100 service-hub-row">
		  <div style="text-align:left; width: 100%;"><strong>What is the difference between an Extended Warranty and AB Assurance?</strong>	<br /><br />There is no difference between extended warranty (ZG61) and AB Assurance (ZG11). Both cover costs for travel, labor and parts for repairs and includes a PM service. Legacy instruments have ZG61 and newer instruments have ZG11 although they're the same plan. ZG11 should be used moving forward.
	</div></div>
	  
	  <div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>What is covered with extended warranty?</strong>	<br /><br />All costs for travel, labor and parts for repairs are covered during the extended warranty period. In some cases the extended warranty also includes an annual Planned Maintenance (PM) service. Please contact your local service sales rep for more information > <a href="https://thermofisher.sharepoint.com/:f:/s/GSSMarketDevelopment-ServiceHub/EqGkAs2jMnBJkFL33Sp5_rYBnqhHwuYiXKwqQEpKmRrO2g?e=xtKEvk" target="_blank">https://thermofisher.sharepoint.com/:f:/s/GSSMarketDevelopment-ServiceHub/EqGkAs2jMnBJkFL33Sp5_rYBnqhHwuYiXKwqQEpKmRrO2g?e=xtKEvk</a>
	</div></div>
	  <div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>What is covered under warranty?</strong>	<br /><br />All costs for travel, labor and parts for repairs are covered during the factory warranty period.  For any instrument specific questions please contact the GSS Product Manager listed with the instrument plans in ServiceHub.
	</div></div>
	  <div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>How do I know how long an instrument is covered?</strong> <br /><br />(Initial warranty, plus service plan)	Generally the factory warranty is 1 year for all instruments except non-Dx thermal cyclers. Additional coverage can be included in packages. Please reach out to your RMD for details > <a href="https://thermofisher.sharepoint.com/:b:/s/GSSMarketDevelopment-ServiceHub/EYK-wpIWbkBGnqS2UxqVXn0BAPttSJK9ASo_MSnC4mEJ0w?e=xHUpeX" target="_blank">https://thermofisher.sharepoint.com/:b:/s/GSSMarketDevelopment-ServiceHub/EYK-wpIWbkBGnqS2UxqVXn0BAPttSJK9ASo_MSnC4mEJ0w?e=xHUpeX</a>
	</div></div>
	  <div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>Can I add PMs (Planned Maintenance) and Qualifications during the warranty period?</strong><br /><br />Yes! For adding a PM in the case of field repairable instruments you can quote ZPSP (Additional PM Visit) and it can be set to open during the warranty period. Quote ZGQU (AB Qualification) for qualification contracts. If you need to quote IQOQ, quote the additional qualification service SKU.<br /><br />

If you have questions about non field repairable instruments such as smaller benchtops and thermal cyclers, please reach out to your RMD > <a href="https://thermofisher.sharepoint.com/:b:/s/GSSMarketDevelopment-ServiceHub/EYK-wpIWbkBGnqS2UxqVXn0BAPttSJK9ASo_MSnC4mEJ0w?e=xHUpeX" target="_blank">https://thermofisher.sharepoint.com/:b:/s/GSSMarketDevelopment-ServiceHub/EYK-wpIWbkBGnqS2UxqVXn0BAPttSJK9ASo_MSnC4mEJ0w?e=xHUpeX</a>
	</div></div>
	  <div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>What is warranty enhancement and how do I get it?</strong><br /><br />A warranty enhancement provides additional services during the factory warranty period such as ZGLP (Priority Tech Support), ZGQU(Qualification), ZPSP(Additional PM) and ZE57 (FSE next business day response). They are not available for all platforms. If you do not see any warranty add-ons for your instrument, and customer has requested this, please contact your Service Sales rep to discuss. Service Sales Maps > <a href="https://thermofisher.sharepoint.com/:f:/s/GSSMarketDevelopment-ServiceHub/EqGkAs2jMnBJkFL33Sp5_rYBnqhHwuYiXKwqQEpKmRrO2g?e=xtKEvk" target="_blank">https://thermofisher.sharepoint.com/:f:/s/GSSMarketDevelopment-ServiceHub/EqGkAs2jMnBJkFL33Sp5_rYBnqhHwuYiXKwqQEpKmRrO2g?e=xtKEvk</a>
	</div></div>
	  </div></div>

  <div id="system-restart">
      <h4 class="lit-section-header"><a href="">Contracts & Maintenance</a></h4>
<div class="service-hub-data-section">
      <div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>My customer wants AB Platinum, but they are not doing COVID work – what can I offer?</strong><br /><br />Depending on what entitlements the customer is looking for, we can offer AB Assurance with add-ons, including ZGLP (Priority Tech Support), ZGQU(Qualification), ZPSP(Additional PM) and ZE57 (FSE next business day response).
	</div></div>
	  <div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>When will AB Platinum be available for non-COVID workflows?</strong><br /><br />The expansion to non-COVID workflow is currently under evaluation. The timeline is highly depending on the COVID-19 situation and Global Services & Support resources. 
To keep up to date on the situation, please subscribe to AB Platinum Insider newsletter by contacting Bill Anliker (<a href="mailto:bill.anliker@thermofisher.com">bill.anliker@thermofisher.com</a>).
	</div></div>
	<div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>What's included with Remote Services?</strong><br /><br />Remote Service leverages remote access software to give a support technician instant access to the instrument from the Thermo Fisher support organization. To supplement remote access software, more advanced video streaming/augmented reality solutions are used to triage potential hardware issues. This means that they can provide remote assistance without having to travel to the instrument location. All remotely serviceable instruments will provide actionable insights based on instrument performance telemetry to help with rapid diagnosis of hardware failures enabling the technician to arrive onsite with the correct replacement parts the first time (field repairable instruments only).
	</div></div>
	<div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>How do I identify if an instrument is on limited support?</strong><br><br />This information will show up in ServiceHub later in July. To look up a specific instrument's life cycle status go to > <a href="/lsg_lifecycle_status"></a>
	</div></div>
	<div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>Can I still sell AB Complete?</strong><br /><br />Yes, with Service District Manager approval.  When AB Platinum is available on more models, AB Complete will no longer be sold. AB Platinum will become our premium contract offering.
	</div></div>
	<div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>What’s the difference between AB Assurance and AB Complete?</strong><br /><br />AB Complete provides same entitlements as AB Assurance and also includes faster response time, Field Application Scientist training and qualification services (but not installation qualification). 
	</div></div>
	<div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>AB Assurance says all parts, labor and travel are included – are there any parts not included?</strong><br /><br />All parts are included. AB Assurance is a comprehensive contract.
	</div></div>
	<div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>AB Assurance says it is 3-days response, but in North America isn’t it only 2 days?</strong> <br /><br />Each region can have varied response times per its requirements and resources.  Please reach out to your RMD for more information > <a href="https://thermofisher.sharepoint.com/:b:/s/GSSMarketDevelopment-ServiceHub/EYK-wpIWbkBGnqS2UxqVXn0BAPttSJK9ASo_MSnC4mEJ0w?e=xHUpeX" target="_blank">https://thermofisher.sharepoint.com/:b:/s/GSSMarketDevelopment-ServiceHub/EYK-wpIWbkBGnqS2UxqVXn0BAPttSJK9ASo_MSnC4mEJ0w?e=xHUpeX</a>
	</div></div>
	<div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>Are there plans that have additional Planned Maintenance (PM) or Qualification built in?</strong><br /><br />Yes, service plans can have more than 1 PM or qualification on some models.  Please read the SKU description details within ServiceHub.  If these service plans are not available for a specific model, you may quote ZPSP (additional PM) and/or ZGQU (qualification) in addition to ZG11 (AB Assurance).
	</div></div>
	<div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>What’s included in a field executed Planned Maintenance (PM) service?</strong><br /><br />During a PM service visit, the field service engineer will perform inspection of the system, software update if required, cleaning, lubricating, and alignment of relevant mechanical parts, cleaning and alignment of optical systems, functional tests as well as documentation of maintenance tasks, results, and findings. For more details go to: <a href="https://thermofisher.com/maintenance" target="_blank">thermofisher.com/maintenance</a>
	</div></div>
	<div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>What’s included in depot Planned Maintenance (PM) service?</strong><br /><br />For Thermal Cyclers and StepOne/Plus instruments only: During a PM service, our factory trained service engineer will check instrument documentation and confirm the instrument is up to date in terms of any manufacturing changes that might have been implemented retroactively. The engineer will ensure that the system fan is clean and operational, will clean sample blocks, heated cover and touchscreen. The Engineer will also confirm that the LCD and USB function properly, and that the instrument passes the system self-verification test. Additional temperature checks will also be performed, and a PM sticker will be applied to the instrument documenting the service performed.
	</div></div>
	<div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>Can zone charges be added for Fixed Price Planned Maintenance (FPPM) SKUs?</strong><br /><br />North America only - Yes, and they need to be applied depending on what zone the customer is in (zones 1-4).  By default, FPPMs do not include any surcharge related to travel in contrast to qualification SKUs which already include all travel charges.
	</div></div>
	<div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>How do I quote maintenance to cover additional block/s?</strong><br /><br />Please quote ZPSP for any additional Planned Maintenance visits. (Each block requires its own plan.)
	</div></div>
	  </div></div>


  <div id="system-restart">
      <h4 class="lit-section-header"><a href="">Qualifications</a></h4>
<div class="service-hub-data-section">
      <div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>Are IQ/OQs ever customer performed, or are they always FSE performed?</strong><br /><br />The simple rule of thumb is all qualifications are performed by our FSEs unless otherwise stated. We have very few that we allow our customers to perform, essentially only for some legacy thermal cyclers. We always label these as either “END USER EXECUTABLE” or “CUSTOMER PERFORMED.” Any time you see IQ/OQ listed in our plans or as a service option (on ServiceHub, the Thermo Fisher website, or marketing materials), you can rest assured knowing it is a service we are selling that will be performed by Thermo Fisher FSEs
	</div></div>
	<div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>How do I quote qualification to cover additional block/s?</strong><br /><br />Follow our Qualification SKU guide here > <a href="https://thermofisher.sharepoint.com/:b:/s/GSSMarketDevelopment-ServiceHub/EcdsAToNfrNIsiSUZPhKlS0BpVNaV2GLULqryv6urmbWbw?e=cgomo6" target="_blank">https://thermofisher.sharepoint.com/:b:/s/GSSMarketDevelopment-ServiceHub/EcdsAToNfrNIsiSUZPhKlS0BpVNaV2GLULqryv6urmbWbw?e=cgomo6</a>
	</div></div>
	<div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>What is the difference between an OQ/PQ and OQ/IPV?</strong><br /><br />OQ/PQ is industry standard accepted terminology in quality systems and validations.  We are using PQ to describe the standard performance run for the Dx system in a qualification service.  IPV is Thermo Fisher Scientific vocabulary for what the industry calls a PQ.  We use IPV to differentiate between RUO and Dx qualification services.
	</div></div>
	
	</div></div>


  <div id="system-restart">
      <h4 class="lit-section-header"><a href="">Pricing</a></h4>
<div class="service-hub-data-section">
      <div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>The price in ServiceHub is not the same as the price list – which one do I use?</strong><br /><br />Click here to submit your question and the ServiceHub team will get back to you as soon as possible.
	</div></div>
		<div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>Can I find the historical price for any service sku, e.g. 2020 list price?</strong><br /><br />Click here to submit your question and the ServiceHub team will get back to you as soon as possible.
	</div></div>
	<div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>What's the discount level for the various service SKUs?</strong><br /><br />You'll find discount levels within CPQ in SalesForce.  Please note service SKUs cannot be discounted higher than the instrument.        <br /><br />                                                                                                                                                                                                                                     For sales reps not in SalesForce, please contact your manager.
	</div></div>
	<div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>Where do I find FFPMs?</strong><br />(Fixed Price Planned Maintenance)<br/><br />Keep scrolling down the instrument detail page on ServiceHub -- it is in the Planned Maintenance section just above Literature.
	</div></div>
	<div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>Where do I find Bioinformatics Fixed Price services or Contracts?</strong><br /><br />Bioinformatics services and contracts will be added by the end of 2021.  In the interim, please reach out to your RMD  for assistance >  <a href="https://thermofisher.sharepoint.com/:b:/s/GSSMarketDevelopment-ServiceHub/EYK-wpIWbkBGnqS2UxqVXn0BAPttSJK9ASo_MSnC4mEJ0w?e=xHUpeX" target="_blank">https://thermofisher.sharepoint.com/:b:/s/GSSMarketDevelopment-ServiceHub/EYK-wpIWbkBGnqS2UxqVXn0BAPttSJK9ASo_MSnC4mEJ0w?e=xHUpeX</a>
	</div></div>
	<div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>Who is my local Service Sales contact?</strong><br /><br />Check out our Service Sales Maps here >  <a href="https://thermofisher.sharepoint.com/:f:/s/GSSMarketDevelopment-ServiceHub/EqGkAs2jMnBJkFL33Sp5_rYBnqhHwuYiXKwqQEpKmRrO2g?e=xtKEvk" target="_blank">https://thermofisher.sharepoint.com/:f:/s/GSSMarketDevelopment-ServiceHub/EqGkAs2jMnBJkFL33Sp5_rYBnqhHwuYiXKwqQEpKmRrO2g?e=xtKEvk</a>
	</div></div>
</div></div>


  <div id="system-restart">
      <h4 class="lit-section-header"><a href="">Feedback</a></h4>
<div class="service-hub-data-section">
      <div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>What’s the process to report any errors or ask questions on ServiceHub?</strong><br><br>We welcome your feedback!  <%= link_to "Click here to ask questions or submit feedback", new_feedback_email_message_path, class: "feedback-link" %></div>  
	</div>
		<div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>When will training be added and SKUs cleaned up?</strong><br><br>Training SKUs and descriptions will be added by the end of the year (2021).</div>  
	</div>
</div></div>

  <div id="system-restart">
      <h4 class="lit-section-header"><a href="">Acronyms</a></h4>
<div class="service-hub-data-section">
      <div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>What does FSE, FAS etc. mean?</strong><br/>Here are a few key Service and Support Acronyms:<br /><br/>
<strong>FAS</strong> = Field Application Scientist<br/>
<strong>FSE</strong> = Field Service Engineer<br/>
<strong>PM</strong> = Planned Maintenance<br/>
<strong>FFPM</strong> = Fixed Price Planned Maintenance<br/>
<strong>IQ/OQ/PQ</strong> = Installation Qualification, Operational Qualification, Performance Qualification<br/>
<strong>IPV</strong> = Instrument Performance Verification<br/>
<strong>CSV</strong> = Computer Systems Validation<br/>
<strong>AV</strong> = Analytical Validation<br/>
<strong>PDC</strong> = Pure Dye Calibration<br/>
<strong>LIMS</strong> =  Laboratory Information Management System <br/>
<strong>AB</strong> = Applied Biosystems<br/>
<strong>ABI</strong> = Applied Biosystems Instruments<br/>
<strong>RMD</strong> = Regional Development Manager<br/><br/>

Please search our internal Wictionary for anything we missed:  <br/><a href="https://thermofisher.sharepoint.com/sites/collaboration/wictionary/Pages/A.aspx" target="_blank">https://thermofisher.sharepoint.com/sites/collaboration/wictionary/Pages/A.aspx</a>
	</div></div>
</div></div>


  <div id="system-restart">
      <h4 class="lit-section-header"><a href="">Quoting</a></h4>
<div class="service-hub-data-section">
      <div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>How do I quote service packages in CPQ (SFDC)?</strong><br /><br/>Comprehensive training is available on how to quote service packages in CPQ here:  <a href="https://thermofisher.sharepoint.com/sites/LSG-Sales-Quote-Training/SitePages/BID-CSD-GSD-Salesforce.aspx" target="_blank">https://thermofisher.sharepoint.com/sites/LSG-Sales-Quote-Training/SitePages/BID-CSD-GSD-Salesforce.aspx</a><br/><br/>
Please also refer to our helpful cheatsheet Say Yes to S > <a href="http://assets.thermofisher.com/TFS-Assets/GSD/Reference-Materials/instrument-services-support-quoting-cheat-sheet.pdf" target="_blank">http://assets.thermofisher.com/TFS-Assets/GSD/Reference-Materials/instrument-services-support-quoting-cheat-sheet.pdf</a></div>
	</div>
		<div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>What training is included with instruments?</strong><br/><br/>Typically we offer SmartStart to ensure customer is confident operating their new instrument. If we offer SmartStart for a specific instrument model, the SKU will be in ServiceHub. We offer additional training, and will add those SKUs to ServiceHub by end of 2021.
	</div></div>
	<div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>I'm a Field Service Engineer, which role do I select?</strong><br/><br/>We will be launching a field service persona in second half of 2021. Until then, log-in as Service Sales.</div>
	</div>
	<div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>What do the different "ZG" prefixes at the beginning of each service plan SKU mean?</strong><br/><br/>Click on "Show Details" under instrument view in ServiceHub and you'll see a full description of the specific service plan type. For additional information, please reach out to your RMD for assistance > <a href="https://thermofisher.sharepoint.com/:b:/s/GSSMarketDevelopment-ServiceHub/EYK-wpIWbkBGnqS2UxqVXn0BAPttSJK9ASo_MSnC4mEJ0w?e=xHUpeX" target="_blank">https://thermofisher.sharepoint.com/:b:/s/GSSMarketDevelopment-ServiceHub/EYK-wpIWbkBGnqS2UxqVXn0BAPttSJK9ASo_MSnC4mEJ0w?e=xHUpeX</a></div>
	</div>
</div></div>






  <div id="system-restart">
      <h4 class="lit-section-header"><a href="">Instrument SKU Cross Reference</a></h4>
<div class="service-hub-data-section">
      <div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>Varioskan Lux</strong><br /><br/>
	  
	  
	  
	  
	  
	  
	  <style type="text/css">
	table.tableizer-table {
		border: 1px solid #CCC; 
	} 
	.tableizer-table td {
		padding: 4px;
		margin: 3px;
		border: 1px solid #CCC;
	}
	.tableizer-table th {
		background-color: #104E8B; 
		text-align: center;
		color: #FFF;
		font-weight: bold;
	}
</style>
<table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>Instrument SKU </th><th>Description</th><th>LSG Service SKU</th><th>Description</th><th>Instrument Detail</th></tr></thead><tbody>
 <tr><td>VL0000D0</td><td>VARIOSKAN LUX, TOP F, ABS,</td><td>ZG30SCVARIOSKAN30</td><td>AB PROTECTION,VARIOSKAN LUX 30</td><td>Absorbance and Fluorescence intensity, top only</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>VLB000D0</td><td>VARIOSKAN LUX, TOP&BOT F, ABS</td><td>ZG30SCVARIOSKAN35</td><td>AB PROTECTION,VARIOSKAN LUX 35</td><td>Absorbence and Fluoresence Intensity, top and bottom</td></tr>
 <tr><td>VL0000D1</td><td>VARIOSKAN LUX, TOP F ABS,1 DIS</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 35</td><td>Absorbence and Fluoresence Intensity, top only, 1 dispenser</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>VL0L00D0</td><td>VARIOSKAN LUX, TOP F,ABS,L </td><td>ZG30SCVARIOSKAN40</td><td>AB PROTECTION,VARIOSKAN LUX 40</td><td>Absorbence, Fluoresence Intensity, and Luminescence, top only</td></tr>
 <tr><td>VLBL00D0</td><td>VARIOSKAN LUX, TOP&BOT F,ABS,L</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 40</td><td>Absorbence, Fluoresence Intensity, and Luminescence, top and bottom</td></tr>
 <tr><td>VL0L00D1</td><td>VARIOSKAN LUX, TOP F ABS,L,1 DIS</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 40</td><td>Absorbence, Fluoresence Intensity, and Luminescence, top only, 1 dispenser</td></tr>
 <tr><td>VLB000D1</td><td>VARIOSKAN LUX,TOP&BOT F,ABS,1</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 40</td><td>Absorbence and Fluoresence Intensity, top and bottom, 1 dispenser</td></tr>
 <tr><td>VL0000D2</td><td>VARIOSKAN LUX, TOP F ABS,2 DIS</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 40</td><td>Absorbence and Fluoresence Intensity, top only, 2 dispensers</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>VL0L0TD0</td><td>VARIOSKAN LUX, TOP F,ABS,L,T </td><td>ZG30SCVARIOSKAN45</td><td>AB PROTECTION,VARIOSKAN LUX 45</td><td>Absorbence, Fluoresence Intensity, Luminescence, and Time-resolved fluorescence, top only</td></tr>
 <tr><td>VL0LA0D0</td><td>VARIOSKAN LUX TOP F,ABS,L,A</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 45</td><td>Absorbance, Fluorescence intensity, Luminescence and AlphaScreen, top only</td></tr>
 <tr><td>VLBL0TD0</td><td>VARIOSKAN LUX, TOP&BOT F,ABS</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 45</td><td>Absorbence, Fluoresence Intensity, Luminescence, and Time-resolved fluorescence, top and bottom</td></tr>
 <tr><td>VLBLA0D0</td><td>VARIOSKAN LUX, TOP&BOT F ABS,L,A</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 45</td><td>Absorbance, Fluorescence intensity, Luminescence and AlphaScreen, top and bottom</td></tr>
 <tr><td>VL0L0TD1</td><td>VARIOSKAN LUX, TOP F ABS,L,T,1 DIS</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 45</td><td>Absorbance, Fluorescence intensity, Luminescence and Time-resolved fluorescence, 1 dispenser</td></tr>
 <tr><td>VLBL00D1</td><td>VARIOSKAN LUX,TOP&BOT F,ABS,L</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 45</td><td>Absorbance, Fluorescence intensity and Luminescence, 1 dispenser</td></tr>
 <tr><td>VL0L00D2</td><td>VARIOSKAN LUX, TOP F ABS,L,2 DIS</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 45</td><td>Absorbance, Fluorescence intensity and Luminescence, 2 dispensers</td></tr>
 <tr><td>VLB000D2</td><td>VARIOSKAN LUX, TOP&BOT F ABS,2 DIS</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 45</td><td>Absorbence and Fluorescence intensity, 2 dispensers</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>VL0LATD0</td><td>VARIOSKAN LUX TOP F,ABS,L,A,T</td><td>ZG30SCVARIOSKAN50</td><td>AB PROTECTION,VARIOSKAN LUX 50</td><td>Absorbance, Fluorescence intensity, Luminescence, Time-resolved fluorescence and AlphaScreen, top only</td></tr>
 <tr><td>VLBLATD0</td><td>VARIOSKAN LUX, TOP&BOT F ABS,L,A,T</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 50</td><td>Absorbance, Fluorescence intensity, Luminescence, Time-resolved fluorescence and AlphaScreen, top and bottom</td></tr>
 <tr><td>VL0LA0D1</td><td>VARIOSKAN LUX, TOP F ABS,L,A,1 DIS</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 50</td><td>Absorbance, Fluorescence intensity, Luminescence and AlphaScreen, top only, 1 dispenser</td></tr>
 <tr><td>VL0LATD1</td><td>VARIOSKAN LUX, TOP F ABS,L,A,T,1 DIS</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 50</td><td>Absorbance, Fluorescence intensity, Luminescence, Time-resolved fluorescence and AlphaScreen, top only, 1 dispenser</td></tr>
 <tr><td>VLBL0TD1</td><td>VARIOSKAN LUX, TOP&BOT F,ABS</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 50</td><td>Absorbance, Fluorescence intensity, Luminescence and Time-resolved fluorescence,  1 dispenser, top and bottom</td></tr>
 <tr><td>VLBLA0D1</td><td>VARIOSKAN LUX, TOP&BOT F ABS,L,A,1 DIS</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 50</td><td>Absorbance, Fluorescence intensity, Luminescence and AlphaScreen, top and bottom, 1 dispenser</td></tr>
 <tr><td>VLBLATD1</td><td>VARIOSKAN LUX, TOP&BOT F ABS,L,A,T,1 DIS</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 50</td><td>Absorbance, Fluorescence intensity, Luminescence, Time-resolved fluorescence and AlphaScreen, top and bottom, 1 dispenser</td></tr>
 <tr><td>VL0L0TD2</td><td>VARIOSKAN LUX, TOP F ABS,L,T,2 DIS</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 50</td><td>Absorbance, Fluorescence intensity, Luminescence and Time-resolved fluorescence, top only, 2 dispensers</td></tr>
 <tr><td>VL0LA0D2</td><td>VARIOSKAN LUX, TOP F ABS,L,A,2 DIS</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 50</td><td>Absorbance, Fluorescence intensity, Luminescence and AlphaScreen, top only, 2 dispensers</td></tr>
 <tr><td>VL0LATD2</td><td>VARIOSKAN LUX, TOP F ABS,L,A,T,2 DIS</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 50</td><td>Absorbance, Fluorescence intensity, Luminescence, Time-resolved fluorescence and AlphaScreen, top only, 2 dispensers</td></tr>
 <tr><td>VLBL00D2</td><td>VARIOSKAN LUX, TOP&BOT F ABS,L,2 DIS</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 50</td><td>Absorbance, Fluorescence intensity and Luminescence, top and bottom, 2 dispensers</td></tr>
 <tr><td>VLBL0TD2</td><td>VARIOSKAN LUX, TOP&BOT F ABS,L,T,2 DIS</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 50</td><td>Absorbance, Fluorescence intensity, Luminescence and Time-resolved fluorescence, top and bottom, 2 dispensers</td></tr>
 <tr><td>VLBLA0D2</td><td>VARIOSKAN LUX, TOP&BOT F ABS,L,A,2 DIS</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 50</td><td>Absorbance, Fluorescence intensity, Luminescence and AlphaScreen, top and bottom 2 dispensers</td></tr>
 <tr><td>VLBLATD2</td><td>VARIOSKAN LUX, TOP&BOT F ABS,L,A,T,2 DIS</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 50</td><td>Absorbance, Fluorescence intensity, Luminescence, Time-resolved fluorescence and AlphaScreen, top and bottom, 2 dispensers</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>VLB000GD0</td><td>Varioskan LUX, top&bot F, Abs, Gas</td><td>ZG30SCVARIOSKAN35G</td><td>AB PROTECTION,VARIOSKAN LUX 35 GAS</td><td>Absorbence and Fluoresence Intensity, top and bottom, gas module</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>VLB000GD1</td><td>Varioskan LUX, top&bot F,Abs,Gas,1 dis </td><td>ZG30SCVARIOSKAN40G</td><td>AB PROTECTION,VARIOSKAN LUX 40 GAS</td><td>Absorbence and Fluoresence Intensity, top and bottom, gas module, 1 dispenser</td></tr>
 <tr><td>VLBL00GD0</td><td>Varioskan LUX, top&bot F,Abs,L, Gas</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 40 GAS</td><td>Absorbence, Fluoresence Intensity, and Luminescence, top and bottom, gas module</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>VLB000GD2</td><td>Varioskan LUX, top&bot F,Abs,Gas,2 dis</td><td>ZG30SCVARIOSKAN45G</td><td>AB PROTECTION,VARIOSKAN LUX 45 GAS</td><td>Absorbence and Fluoresence Intensity, top and bottom, gas module, 2 dispensers</td></tr>
 <tr><td>VLBL00GD1</td><td>Varioskan LUX, top&bot F,Abs,L, Gas,1 dis</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 45 GAS</td><td>Absorbence, Fluoresence Intensity, and Luminescence, top and bottom, gas module, 1 dispenser</td></tr>
 <tr><td>VLBL0TGD0</td><td>Varioskan LUX, top&bot F,Abs,L,T, Gas</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 45 GAS</td><td>Absorbence, Fluoresence Intensity, Luminescence, and Time-resolved fluorescence, top & bottom, gas module</td></tr>
 <tr><td>VLBLA0GD0</td><td>Varioskan LUX, top&bot F,Abs,L,A,Gas</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 45 GAS</td><td>Absorbance, Fluorescence intensity, Luminescence and AlphaScreen, top and bottom, gas module</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>VLBL00GD2</td><td>Varioskan LUX, top&bot F,Abs,L,Gas,2 dis</td><td>ZG30SCVARIOSKAN50G</td><td>AB PROTECTION,VARIOSKAN LUX 50 GAS</td><td>Absorbence, Fluoresence Intensity, and Luminescence, top and bottom, gas module, 2 dispensers</td></tr>
 <tr><td>VLBL0TGD1</td><td>Varioskan LUX, top&bot F,Abs,L,T, Gas,1 dis</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 50 GAS</td><td>Absorbence, Fluoresence Intensity, Luminescence, and Time-resolved fluorescence, top & bottom, gas module, 1 dispenser</td></tr>
 <tr><td>VLBL0TGD2</td><td>Varioskan LUX, top&bot F,Abs,L,T,Gas, 2 dis</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 50 GAS</td><td>Absorbence, Fluoresence Intensity, Luminescence, and Time-resolved fluorescence, top & bottom, gas module, 2 dispenser</td></tr>
 <tr><td>VLBLA0GD1</td><td>Varioskan LUX, top&bot F,Abs,L,A, Gas,1 dis</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 50 GAS</td><td>Absorbance, Fluorescence intensity, Luminescence and AlphaScreen, top and bottom, gas module, 1 dispenser</td></tr>
 <tr><td>VLBLA0GD2</td><td>Varioskan LUX, top&bot F,Abs,L,A, Gas, 2 dis</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 50 GAS</td><td>Absorbance, Fluorescence intensity, Luminescence and AlphaScreen, top and bottom, gas module, 2 dispensers</td></tr>
 <tr><td>VLBLATGD0</td><td>Varioskan LUX, top&bot F,Abs,L,A,T,Gas  </td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 50 GAS</td><td>Absorbance, Fluorescence intensity, Luminescence, Time-resolved fluorescence and AlphaScreen, top and bottom, gas module</td></tr>
 <tr><td>VLBLATGD1</td><td>Varioskan LUX, top&bot F,Abs,L,A,T, Gas, 1 dis</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 50 GAS</td><td>Absorbance, Fluorescence intensity, Luminescence, Time-resolved fluorescence and AlphaScreen, top and bottom, gas module, 1 dispenser</td></tr>
 <tr><td>VLBLATGD2</td><td>Varioskan LUX, top&bot F,Abs,L,A,T,Gas,2 dis</td><td>&nbsp;</td><td>AB PROTECTION,VARIOSKAN LUX 50 GAS</td><td>Absorbance, Fluorescence intensity, Luminescence, Time-resolved fluorescence and AlphaScreen, top and bottom, gas module, 2 dispensers</td></tr>
</tbody></table>
	  
	  
	  
	  <div class="row w-100 service-hub-row"><div style="text-align:left; width: 100%;"><strong>Multiskan</strong><br /><br/>
	  <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>Instrument SKU</th><th>Instrument Detail</th><th>Proposed description</th></tr></thead><tbody>
 <tr><td>51119010</td><td>Multiskan FC (IVD model)</td><td>Legacy Multiskan FC</td></tr>
 <tr><td>51119200</td><td>Multiskan GO without cuvette</td><td>Legacy Multiskan, Incubator, Accuwash, Accuscan</td></tr>
 <tr><td>51119300</td><td>Multiskan GO with cuvette</td><td>Legacy Multiskan, Incubator, Accuwash, Accuscan</td></tr>
 <tr><td>5112200</td><td>iEMS Incubator/Shaker, 3-Cabin</td><td>Legacy Multiskan, Incubator, Accuwash, Accuscan</td></tr>
 <tr><td>5112207</td><td>iEMS Incubator/Shaker, 3-cabin, 100-120</td><td>Legacy Multiskan, Incubator, Accuwash, Accuscan</td></tr>
 <tr><td>5112220</td><td>iEMS Incubator/Shaker</td><td>Legacy Multiskan, Incubator, Accuwash, Accuscan</td></tr>
 <tr><td>5112230</td><td>iEMS Incubator/Shaker</td><td>Legacy Multiskan, Incubator, Accuwash, Accuscan</td></tr>
 <tr><td>5112240</td><td>iEMS Incubator/Shaker</td><td>Legacy Multiskan, Incubator, Accuwash, Accuscan</td></tr>
 <tr><td>5112250</td><td>iEMS Incubator/Shaker HT, 1-Cabin</td><td>Legacy Multiskan, Incubator, Accuwash, Accuscan</td></tr>
 <tr><td>5165060</td><td>Wellwash 1x8 (IVD model)</td><td>Legacy Wellwash / Incubator</td></tr>
 <tr><td>5165080</td><td>Wellwash 1x12 (IVD model)</td><td>Legacy Wellwash / Incubator</td></tr>
 <tr><td>5210450</td><td>Fluoroskan Ascent  FL</td><td>Legacy Fluoroskan</td></tr>
 <tr><td>5210460</td><td>Fluoroskan Ascent FL with one Dispenser</td><td>Legacy Fluoroskan</td></tr>
 <tr><td>5210460CA02</td><td>FLUOROSKAN ASCENT FL PKG</td><td>Legacy Fluoroskan</td></tr>
 <tr><td>5210462</td><td>Fluoroskan Ascent FL with two Dispensers</td><td>Legacy Fluoroskan</td></tr>
 <tr><td>5210463</td><td>Fluoroskan Ascent FL with three Dispensers</td><td>Legacy Fluoroskan</td></tr>
 <tr><td>5210470</td><td>FLUOROSKAN ASCENT</td><td>Legacy Fluoroskan</td></tr>
 <tr><td>5210480</td><td>FLUOROSKAN ASCENTwith one DISPENSER</td><td>Legacy Fluoroskan</td></tr>
 <tr><td>5210482</td><td>Fluoroskan Ascent with two Dispensern</td><td>Legacy Fluoroskan</td></tr>
 <tr><td>5210483</td><td>Fluoroskan Ascent with three Dispensern</td><td>Legacy Fluoroskan</td></tr>
 <tr><td>5210530</td><td>FLUOROSKAN ASCENT</td><td>Legacy Fluoroskan</td></tr>
 <tr><td>5210581</td><td>FLUOROSKAN STAGO</td><td>Legacy Fluoroskan</td></tr>
 <tr><td>5300160</td><td>Luminoskan Ascent</td><td>Legacy Fluoroskan</td></tr>
 <tr><td>5300170</td><td>Luminoskan Ascent with one Dispenser</td><td>Legacy Fluoroskan</td></tr>
 <tr><td>5300172</td><td>Luminoskan Ascent with two Dispensern</td><td>Legacy Fluoroskan</td></tr>
 <tr><td>5300173</td><td>Luminoskan Ascent with three Dispensern</td><td>Legacy Fluoroskan</td></tr>
 <tr><td>5112257</td><td>Incubator/Shaker;  iEMS HT; One cabin; 100-120V 50/60 Hz; With 3 thermal microplate holders; Extended temperature range up to 69degC; Orbital shaker</td><td>Legacy Wellwash / Incubator</td></tr>
 <tr><td>5165020</td><td>Wellwash strip washer</td><td>Legacy Wellwash / Incubator</td></tr>
 <tr><td>5165030</td><td>Wellwash Versa strip washer</td><td>Legacy Wellwash / Incubator</td></tr>
 <tr><td>5210450Q4</td><td>Fluoroskan Ascent FL with one</td><td>Legacy Fluoroskan</td></tr>
 <tr><td>5210481</td><td>Fluorskan Ascent Stago</td><td>Legacy Fluoroskan</td></tr>
 <tr><td>5165090</td><td>Accuwash</td><td>Legacy Multiskan, Incubator, Accuwash, Accuscan</td></tr>
 <tr><td>5250030</td><td>Varioskan Flash incl. FI, P, TRF</td><td>Legacy Varioskan</td></tr>
 <tr><td>5250040</td><td>Varioskan Flash bottom read, FI, P, TRF</td><td>Legacy Varioskan</td></tr>
 <tr><td>5250500</td><td>Varioskan LumiSens option- FACTORY INST.</td><td>Legacy Varioskan</td></tr>
 <tr><td>51119030</td><td>MULTISKAN FC (COUNTRY OFORIGIN FINLAND)</td><td>Legacy Multiskan FC</td></tr>
 <tr><td>51119040</td><td>accuSkan FC (Fisher Scientific)  US</td><td>Legacy Multiskan, Incubator, Accuwash, Accuscan</td></tr>
 <tr><td>51119130</td><td>MULTISKAN FC WITH INCUBATOR (COUNTRY OF ORIGIN FIN</td><td>Legacy Multiskan FC</td></tr>
 <tr><td>51119140</td><td>accuSkan FC with incubator (Fisher Scientific)  US</td><td>Legacy Multiskan, Incubator, Accuwash, Accuscan</td></tr>
 <tr><td>51119160</td><td>MULTISKAN FC WITH INCUBATOR (FISHER SCIENTIFIC US</td><td>Legacy Multiskan FC</td></tr>
 <tr><td>51119260</td><td>accuSkan GO without Cuvette (Fisher Scientific)  US</td><td>Legacy Multiskan, Incubator, Accuwash, Accuscan</td></tr>
 <tr><td>51119360</td><td>accuSkan GO with Cuvette (Fisher Scientific)  US</td><td>Legacy Multiskan, Incubator, Accuwash, Accuscan</td></tr>
 <tr><td>5165090</td><td>accuWash (Fisher Scientific)  US</td><td>Legacy Multiskan, Incubator, Accuwash, Accuscan</td></tr>
 <tr><td>5165100</td><td>accuWash Versa (Fisher Scientific)  US</td><td>Legacy Multiskan, Incubator, Accuwash, Accuscan</td></tr>
</tbody></table>
	  
	</div>
</div></div>
	</div></div>
	  </div>
	</div>