// This file is for customizing Bootrsap
// Filename must be `_custom.scss` in order to override bootstrap's standard settings

// $grid-breakpoints: (xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px);

$container-max-widths: (sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1220px);

@import "bootstrap.scss";