.footer {
  clear: both;
  height: 167px;
  min-height: 167px;
  max-height: 167px;
  background-color: $deep-blue;
  color: white;
  font-size: 14px;
  margin-top: 50px;

  a {
    color:white;
  }
}